.DS_Store
.vagrant*/
.eslintcache
scratch/
NOTES.md
wiki/
demo/**/go*.tar.gz

# rpms
cosi*noarch.rpm

# node modules
node_modules/
npm-debug.log

# local provisioning customizations
**/group_vars/all.yml
**/group_vars/cosi.yml
provision/deploy.sh
provision/cosi.hosts

# temporary provisioning files
## omnios specific, see node-builder
provision/roles/node/files/node-v*-omnios-r*.tar.gz
provision/roles/site/files/node_modules-v*-omnios-r*.tar.gz
provision/*.retry

## this is built, cd src && make package
provision/roles/site/files/cosi-site-*.tar.gz

# artifacts from dev runs
src/log

# temporary build files
src/**/cosi-statsd.tar.gz
src/**/cosi-util.tar.gz
src/**/cosi-site.tar.gz
.modules/
*~

config.yaml
demo/cassandra/fixups/
demo/cassandra/cassdata/pagecounts*.gz
demo/cassandra/cassdata/data/

