{
    "hostname": "0.0.0.0",
    "port": 80,
    "package_url": "http://updates.circonus.net/node-agent/packages/",
    "package_list_file": "./etc/packages.json",
    "config_dir": "./etc/configs",
    "log_dir": "{{ log_directory }}",
    "installer_rpm_file": "{{ installer_rpm_file }}"
}
